<form>
  <label>Agencia</label>
  <input name="agencia" [(ngModel)]="conta.agencia">
  <label>Estado</label>
  <input name="estado" [(ngModel)]="conta.estado">
  <label>Numero</label>
  <input name="numero" [(ngModel)]="conta.numero">
  <label>Saldo</label>
  <input name="saldo" [(ngModel)]="conta.saldo">
  <label>Tipo</label>
  <input name="tipo" [(ngModel)]="conta.tipo">
  <label>Titular</label>
  <input name="titular" [(ngModel)]="conta.titular.nome">
  <label>Dia de Aniversario</label>
  <input name="diaAniversario" [(ngModel)]="conta.diaAniversario">
  <label>Limite Cheque Especial</label>
  <input name="limiteChequeEspecial" [(ngModel)]="conta.limiteChequeEspecial">
</form>
